@model IEnumerable<AspNetCore.Models.Disciplina>

<form method="post" asp-action="Disciplina">
  <div class="form-group">
    <label for="formGroupExampleInput">Nome</label>
    <input asp-for="Nome" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Periodo</label>
    <input asp-for="Periodo" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">CargaHoraria</label>
    <input asp-for="CargaHoraria" type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Professor</label>
    <input asp-for="Professor" type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Alunos</label>
    <input asp-for="Alunos" type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>
  <button class="mt-5 btn btn-success">Cadastrar</button>
</form>